.spimg{
    width: 18%;
    justify-content: left;
}
.sdning{
    width: 18%;
}
nav{
    background-color: rgb(16,16,16);
    display: flex;
    justify-content: space-between;
    height: fit-content;
    box-sizing: border-box;
    z-index: 1;
    padding: 0px 70px;
}
.nava{
    font-size: 15px;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
}
.nava:hover{
    color: #1ED760;
}
.ayii{
    width: 30%;
    justify-content: space-between;
}
.nava:hover .usaa{
    border: 2px solid #1ED760;
}
.usaa{
    font-size: 19px;
    padding: 10px 12px;
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    border: 2px solid white;
}
.one{
    background-color: rgb(30,41,58);
    height: fit-content;
    padding: 0px 40px;
}
.one2{
    background-image: linear-gradient(to bottom, rgb(17,28,57), rgb(4,7,14));
    height: 400px;
    padding: 0px 90px;
    display: flex;
}
.jae4{
    width: 57%;
}
.jae4 h1{
    font-size: 72px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 30px;
    line-height: 72px;
}
.jae4 p{
    font-size: 15px;
    color: #F8F8F8;
    font-family: sans-serif;
}
.jae4 button{
    background-color: rgb(30,215,96);
    color: black;
    font-weight: 700;
    font-size: 15.5px;
    padding: 14px 26px;
    border-radius: 23px;
    border: none;
    transition: all 0.1s;
}
.jae4 button:hover{
    transform: scale(1.04);
}
.jae5{
    width: 40%;
}
.verse1{
    width: 26%;
    height: 700px;
    background-color: rgb(27,27,27);
}
.verse2{
    width: 74%;
    height: 700px;
    overflow-y: scroll;
    background-color: white;
}
.verse1a{
    height: 140px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: rgb(34,35,38);
    padding: 50px 0px;
}
.verse1a span{
    font-size: 35px;
    padding: 10px 17px;
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    background-color: rgb(22,23,25);
}
.verse1b{
    width: 100%;
    padding: 15px 10px;
    box-sizing: border-box;
    border-top: 0.2px solid #91949667;
    border-bottom: 0.2px solid #91949667;
    border-left: 5px solid #1ED760;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #919496;
}
.verse1c{
    width: 100%;
    box-sizing: border-box;
    border-bottom: 0.2px solid #91949667;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.verse1c:focus-within .verse3{
    display: block;
}
.verse1c button:hover{
    border-left: 5px solid #1ED760;
}
.verse1:focus-within .verse1b{
    border-left: 5px solid rgb(27,27,27);
    color: white;
}
.verse1c button{
    color: #919496;
    background-color: none;
    border: none;
    padding: 15px 15px;
    width: 100%;
    text-align: left;
    border-left: 5px solid rgb(27,27,27);
    background-color: rgb(27,27,27);
}
.verse1c button:focus{
    border-left: 5px solid #1ED760;
    color: white;
}
.verse3{
    position: absolute;
    left: 27.78%;
    width: 68.5%;
    top: 478px;
    height: 700px;
    overflow-y: scroll;
    background-color: white;
    display: none;
}
.vrsa{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    font-family: sans-serif;
    color: #919496;
    transition: all 0.3s;
}
.vrsa:hover{
    transform: scale(1.04);
}
.verse3 button{
    width: fit-content;
    background-color: #1ED760;
    padding: 10px 20px;
    color: black;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    font-family: sans-serif;
    transition: all 0.3s;
}
.verse3 button:hover{
    border:none;
    transform: scale(1.04);
}
.verse3::-webkit-scrollbar{
    display: none;
}
.verse2 h1{
    font-size: 48px;
    font-weight: 700;
    font-family: sans-serif;
    color: black;
}
.verse3 h1{
    font-size: 48px;
    font-weight: 700;
    font-family: sans-serif;
    color: black;
}
.verse2 h3{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
    color: black;
    margin-top: 25px;
}
.verse3 label{
    font-size: 14px;
    font-weight: 700;
    font-family: sans-serif;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}
.fg{
    padding: 10px 15px;
    width: 100%;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.61);
}
.fg:focus{
    outline: 2px solid black;
}
.r29{
    padding: 10px 15px;
    width: 36%;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.61);
    display: block;
}
.gg3{
    width: 40%;
    height: 49px;
}
.verse3 input::placeholder{
    color: black;
}
.egg{
    height: 49px;
    border: 1px solid rgba(0, 0, 0, 0.61);
}
.clu1{
    color: #B3B3B3;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.clu2{
    color:black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.verse2 button{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 23.5px;
    padding: 12px 30px ;
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.438);
    margin-top: 27px;
    margin-bottom: 55px;
    display: block;
    transition: all 0.5s;
}
.verse2 button:hover{
    transform: scale(1.04);
    border: 0.6px solid black;
}
.box{
    height: 420px;
    border: 2px solid lightgray;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.137);
    border-radius: 13px;
    margin-top: 24px;
    overflow: hidden;
}
.boxe{
    height: 56%;
    background-color: rgb(179,179,179);
    align-items: center;
    padding: 100px 0px;
}
.verse2 h2{
    font-weight: 700;
    font-size: 32px;
    font-family: sans-serif;
}
.pz{
    font-size: 15;
    font-family: sans-serif;
    color: black;
    font-weight: 520;
    margin-top: 17px;
}
.lastm{
    margin-top: 30px;
    width: 50%;
    display: flex;
}
.last a:hover{
    color: #1ED760;
    text-decoration: none;
}
.last p{
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: -2px;
}
.last a{
    display: block;
    font-size: 15px;
    color: #B3B3B3;
    font-weight: 500;
    text-decoration:none;
    margin-top: 13px;
}
.last button{
    padding: 10px 15px;
    border-radius: 100%;
    border: none;
    color: white;
    background-color: rgb(41,41,41);
}
.lastb button:hover{
    background-color: rgba(255, 255, 255, 0.205);
}
.last{
    align-items: flex-start;
    padding-bottom: 20px;
    background-color: rgb(0,0,0);
    display: flex;
    padding: 60px 80px;
}
.lastb{
    width: 18%;
    text-align: right;
}
.last a:hover{
    text-decoration: underline;
}
.liner{
    /* height: 0.5px;
    background-color: #b3b3b352; */
    padding-top: 40px;
    border-top: 0.5px solid #b3b3b352;
}
.brezz{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    left: -100%;
    top: 0px;
    transition: all 0.5s;
    position: absolute;
    padding: 30px 50px;
}
.rezz:focus-within .brezz{
    left: 0px;
}
.icone{
    padding: 10px 12px;
    width: fit-content;
    height: fit-content;
    font-weight: 200;
    color: gray;
    border-radius: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.brezz a{
    display: block;
    text-decoration: none;
    font-family: arial;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 20px;
}
.brezz p{
    margin-top: 15px;
    font-size: 31px;
    font-family: sans-serif;
    color: white;
    display: block;
    cursor: pointer;
    font-weight: 600;
}
.rezz{
    display: none;
    margin-top: -90px;
    margin-left: 90px;
}
@media (max-width:430px) {
    .one{
        padding: 0px;
    }
    .one2{
        padding: 0px 30px;
        height: fit-content;
        display: list-item;
        text-align: center;
    }
    .jae4{
        width: 100%;
    }
    .verse1{
        display: none;
    }
    .verse2{
        width: 100%;
    }
    .lastm{
        display: list-item;
    }
    .last{
        display: list-item;
        padding: 60px 50px;
    }
    .lamp{
        margin-top: 15px;
    }
    .lamp p{
        margin-top: 25px;
    } 
    .lastb button{
        display: block;
        margin: 10px;
    }
    .lastb{
        justify-content: right;
        align-items: flex-start;
        margin-top: 30px;
        display: flex;
    }
    .nava,.zen{
        display: none;
    }
    .rezz{
        display: block;
    }
    .spimg{
        width: 60%;
    }
    .jae5{
        width: 100%;
        margin-top: 30px;
    }
    .jae4 h1{
        font-size: 30px;
    }
    .jae4 button{
        width: 90%;
    }
}