*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(243,243,243);
    justify-content: center;
    padding: 0px 45px 25px 0;
    /* display: flex; */
    justify-content: space-between;
}
.socials{
    height: 220px;
    width: 50px;
    border-radius: 20px;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 7px ;
    box-sizing: border-box;
    position: fixed;
    top: 220px;
    right: 10px;
}
.social{
    justify-content: center;
    padding: 10px;
    border-radius: 100%;
    background-color: #EA5B0C;
    height: 15px;
    width: 15px;
    margin-top: 12px;
    display: block;
}
main{
    background-color: white;
    width: 97%;
    height: auto;
    box-sizing: border-box;
    padding: 10px 60px 35px 60px;
    margin-bottom: 30px;
}
nav{
    display: flex;
    align-content: center;
    margin-top: 0px;
    position: sticky;
    top: 0px;
    background-color: white;
    height: 70px;
    align-items: center;
}
.landwey{
    width: 200px;
}
.landimg{
    width: 40%;
}
.parttwo{
    justify-content: space-between;
    width:60%;
    align-items: ;
}
.parttwo a{
    text-decoration: none;
    color:#333333;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    padding-right: 26px;
    font-weight: bold;
}
.parttwo a:hover{
    color: #EA5B0C;
}
.firstbtn{
    background-color: rgb(250,100,0);
    color: white;
    padding: 9px 15px;
    font-weight: 'Poppins', sans-serif;
    border-radius: 5px;
    border: none;
}
h1{
    color:#333333;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 35px;
    text-align: center;
    width: 95%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.secondbtn{
    color: white;
    background-color: #EA5B0C;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    padding: 10px 22px;
    border: none;
    font-size: 16px;
}
.thecard{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    height: auto;
}
.subcard{
    width: 48%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.274);
    background-color: rgb(245,245,245);
    margin-top: 110px;
    overflow: hidden;
}
.subimg{
    width: 100%;
    height: 47%;
}
.mainp{
    color: #222222;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    margin-left: 20px;
    /* text-align: center; */
    font-weight: bold;
}
span{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #EA5B0C;
}
.orange{
    font-size: 13px;
    color: white;
    background-color: #EA5B0C;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 8px 4px;
    width: fit-content;
    margin-left: 20px;
}
.black{
    font-size: 13px;
    color: white;
    background-color: rgb(51,51,51);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 8px 4px;
    width: fit-content;
    margin-left: 20px;
}
.block02{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0px 15px;
}
.misc{
    width: 24%;
    color: #666666;
    font-size: 15.5px;
    justify-content: center;
    margin: 15px;
    padding: auto;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    justify-content: space-between;
}
h5{
    text-align: center;
}
.scroller{
    overflow-x: scroll;
    justify-content: space-between;
    width: 90%;
    margin: 15px 15px 20px 15px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.insider{
    width: 40%;
    display: block;
    margin-right: 15px;
    border-radius: 10px;
}
.lasp{
    color: #808080;
    font-size: 12.5px;
    line-height: 17.4px;
    font-family: sans-serif;
    text-align: center;
    vertical-align: baseline;
    width: 100%;
}
@media (max-width:500px) {
    .parttwo{
        display: none;
    }
    main{
        padding: 0px 0px 30px 0px;
        width: 100%;
    }
    .thecard{
        padding:0px 10px;
        
    }
    .subcard{
        width: 93%;
        height: fit-content;
    }
    nav{
        /* background-color: #EA5B0C; */
        position: static;
        height: fit-content;
        padding: 12px 0;
    }
    body{
        padding: 0px;
        background-color: white;
        box-sizing: border-box;
    }
    h1{
        font-size: 30px;
        font-weight: 700;
        color: black;
        width: 90%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .social{
        height: 13px;
    width: 13px;
    }
    .socials{
        height: 190px;
        right: 25px;
        box-shadow: 0 0 0.5px 0.5px rgba(0, 0, 0, 0.274);
    }
    .landwey{
        width: 150px;
    }
    .landimg{
        width: 40%;
        z-index: 1;
        padding-left: 15px;
    }
    .lasp{
        padding: 15px 0px;
        background-color: rgb(243,243,243);
    }
    .misc{
        max-width: 18%;
    }
    .misc img{
        width: 46%;
    }
    h5{
        display: inline;
        line-height: 15px;
    }
}
